
body{
    font-family: Arial, Helvetica, sans-serif,sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}


.header-left a{
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.header-left a:hover{
    text-decoration: underline;
}

.header-right a{
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}

.header-right a:hover{
    text-decoration: underline;
}

.main{
    text-align: center;
    margin-top: 20px;
    
}
.row{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.main h1{
    font-size: 30px;
    font-weight: bold;
}


.main h2{
    font-size: 14px;
    justify-content: space-between;
}

a{
    text-decoration: none;
}


#guides{
    width: auto;
    height: 290px;
    background-color: white;
    background: transparent;
    float: right;
 }

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 20px;
}


.col-md-6 {
    flex: 1;
    padding: 20px;
}

.col-12 {
    flex: 1;
    padding: 20px;
}


/* Képek beállítása */
img {
    max-width: 100%;
    height: auto;
    display: flexbox;
}

#castle {
    display: block;
    margin: 20px auto;  /* Középre helyezi vízszintesen */
    max-width: 100%;     /* Reszponzív méret */
    height: auto;        /* Arányos méretezés */
}
/* Speciális beállítás a fordított elrendezéshez */
.flex-row-reverse {
    flex-direction: row-reverse;
}


/* Reszponzivitás: Mobil nézet (max 768px) */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        text-align: center;
    }

    .col-md-6 {
        width: 100%;
    }
}